body{
    background: url("./background.jpg");
}
header{
    display: flex;
    justify-content: space-between;
}

.login-buttons{
    background: blue;
    padding: 8px;
    color: white;
    min-width: 75px;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.post-buttons{
    background: lightsalmon;
    padding: 8px;
    color: grey;
    min-width: 75px;
}