header{
    display: flex;
    justify-content: space-between;
}

.login-buttons{
    background: #007580;
    padding: 8px;
    color: white;
    min-width: 75px;
}
body{
    background-color: #fed049;
}
.main-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 16px;
    max-width: 40%;

    box-shadow: 5px 5px 18px 3px rgba(102,102,102,0.75);
-webkit-box-shadow: 5px 5px 18px 3px rgba(102,102,102,0.75);
-moz-box-shadow: 5px 5px 18px 3px rgba(102,102,102,0.75);
}
.author-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
    background-color: white;

}
.post-container{
    position: relative;
    padding: 16px;
    flex-basis: 80%;
    background-color: #d8ebe4;
}
.post-container:hover{
    background-color: lightgreen;
}

.elipsis-icon{
    position: absolute;
    right: 16px;
    bottom: 16px;
}
.trash-icon{
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.trash-icon:hover{
    color: red;
}